# OS/editor junk
.DS_Store
Thumbs.db
*.swp
*.tmp
*.bak
*.bak_*
db.bak_*/
*.orig

# Build/artifacts you might drop in
*.pbo
*.zip

# Logs if you ever dump any here
*.log

# Live persistence
storage_1/
storage_2/
storage_3/
storage_4/
*.bin

# Mod-specific save data
pra/warheadstorage.json

areaflags.map


# Now generated every restart
db/messages.xml
